<div class="product-form-container">
    <div class="product-list">
        <table>
            <thead>
                <th>Id</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </thead>
            <tbody>
                <tr *ngFor="let p of product">
                    <td>{{p.id}}</td>
                    <td>{{p.description}}</td>
                    <td>{{p.price}}</td>
                    <td>{{p.quantity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <form class="product-form" *ngIf="showForm" [formGroup]="productForm" (ngSubmit)="addProduct()">
        <label for="id">Product Id:</label>
        <input type="text" id="id" formControlName="id">
        <label for="description">Product Description:</label>
        <input type="text" id="description" formControlName="description">
        <label for="price">Price:</label>
        <input type="number" id="price" formControlName="price">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" formControlName="quantity">
        <input type="submit" value="Insert Product">
    </form>
</div>