.vector-features-container {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    margin-top: 0.5em;
    font-size: 1.1rem;
}

label {
    font-size: 1.2rem;
}

button {
    padding: 1em;
    background-color: #a10505;
}