.deploy-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.error {
    font-size: 1.1rem;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

input {
    margin: 0.2em;
    font-size: 1.1rem;
}

label {
    font-size: 1.2rem;
}

#qr {
    width: 254px;
    height: 254px;
    margin: 1em;
    border: 0.7em solid #e4e4e4;
    border-radius: 5%;
}

.search {
    padding-top: 1em;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

#download {
    background-color: #4aff02;
}

#upload {
    background-color: #ea0404;
}

#download:hover, #upload:hover {
    background-color: #efefef;
}

.deploy-button {
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.photo-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-bottom: 1em;
}

#camera-button {
    background-color: #565151;
    border-color: #565151;
}

#camera-button:hover {
    background-color: #e4e4e4;
    border-color: #e4e4e4;
}